# construction : seules les images prêtes à l'emploi sont gardées
build/*
!build/cpa.dsk
!build/cpa.rom
!build/cpa-logo.dsk
!build/cpa-notes.dsk
!build/cpa-asm.dsk
!build/cpa-anim.dsk
progs/*.err
tools/xa
tools/pylib/
tools/oricutron/
_to_delete/
__pycache__/
.DS_Store
