; EDIT.CFG : reglages d'EDIT
; par fichier. La premiere ligne
; dont le nom correspond
; s'applique (jokers * et ?).
;
; nom    maxi coupure imprimante
;  maxi : longueur maxi d'un
;    paragraphe (0 : sans limite) ;
;    au-dela, C nnn! sur la ligne
;    d'etat, ^N : trop long suivant
;  coupure a l'ecran : MOTS ou CAR
;  imprimante : largeur (80)
;
*.LOG    126  CAR   80
*.BAT    78   CAR   80
*.ASM    0    CAR   80
*.*      0    MOTS  80
